button{
  background-color: #007aff;
}

.center-column .dx-data-row>td,
.center-column .dx-header-row>td {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 9px;
}

.dx-swatch-agrisoft-scheme .dx-datagrid-content .dx-datagrid-table .dx-row>td,
.dx-swatch-agrisoft-scheme .dx-datagrid-content .dx-datagrid-table .dx-row>tr>td {
  vertical-align: middle !important;
  font-size: 13px !important;
}

.dx-swatch-agrisoft-scheme .dx-datagrid-content .dx-datagrid-action {
  text-align: center !important;
}

.dx-swatch-agrisoft-scheme .dx-datagrid-rowsview.dx-datagrid-sticky-columns .dx-data-row:not(.dx-row-lines, .dx-edit-row, .dx-selection, .dx-row-focused, .dx-row-removed)>td:not(.dx-editor-cell, .dx-master-detail-cell) {
  padding-top: 5px !important;
}

.dx-swatch-agrisoft-scheme .dx-datagrid .dx-column-lines>td {
  border-left: none !important;
  border-right: none !important;
}

.dx-swatch-agrisoft-scheme .dx-datagrid-borders>.dx-datagrid-filter-panel,
.dx-swatch-agrisoft-scheme .dx-datagrid-borders>.dx-datagrid-headers {
  border-top: none !important;
}

.dx-swatch-agrisoft-scheme .dx-datagrid-borders>.dx-datagrid-headers {
  font-weight: 900 !important;
}

.dx-swatch-agrisoft-scheme .dx-datagrid-borders>.dx-datagrid-headers,
.dx-swatch-agrisoft-scheme .dx-datagrid-borders>.dx-datagrid-rowsview,
.dx-swatch-agrisoft-scheme .dx-datagrid-borders>.dx-datagrid-total-footer {
  border-left: none !important;
  border-right: none !important;
}

.dx-swatch-agrisoft-scheme .dx-texteditor.dx-editor-outlined {
  background: #f5f5f5;
  border: 1px solid var(--color-gray-200) !important;
  box-shadow: 1px 1px 10px 4px #00000012;
  border-radius: 5px !important;
}

.icon-grid path {
  fill: transparent !important;
  stroke: var(--color-blue-950) !important;
}

.dark .icon-grid path {
  stroke: white !important;
}

.dark button:hover .icon-grid path {
  stroke: var(--color-blue-950) !important;
}

.icon-grid.icon-start path {
  stroke: var(--color-green-600) !important;
}

.icon-grid.icon-end path {
  stroke: var(--color-red-600) !important;
}

[class*='status-'] {
  background-color: var(--color-gray-200);
  color: #000000;
  display: inline-flex;
  padding-inline: 12px;
  height: 25px;
  border-radius: 60px;
  font-size: 12px;
}

[class*='status-'] svg path {
  color: white;
  stroke: #000000 !important;
}

.status-entregado {
  background-color: var(--color-green-500);
  color: white;
}

.status-en-transito {
  background-color: var(--color-orange-400);
  color: white;
}

.status-cancelado {
  background-color: #000000;
  color: white;
}

.status-entregado svg path,
.status-en-transito svg path,
.status-cancelado svg path {
  stroke: white !important;
}


.dark .dx-datagrid-headers .dx-header-row,
.dark .dx-datagrid-table {
  background-color: #2b4775 !important;
  color: white;
}

.dark .dx-swatch-agrisoft-scheme .dx-datagrid .dx-row-alt>td,
.dark .dx-swatch-agrisoft-scheme .dx-datagrid .dx-row-alt>tr>td {
  background-color: #0b1437 !important;
}

.dx-icon-edit::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10'/></svg>") !important;
}

.dx-icon-trash::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0'/></svg>") !important;
}

.dx-icon-custom-view::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z'/><path stroke-linecap='round' stroke-linejoin='round' d='M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'/></svg>");
}

.dx-icon-custom-truck::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2024%2024'%20stroke-width='1.5'%20stroke='currentColor'%3E%3Cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20d='M8.25%2018.75a1.5%201.5%200%200%201-3%200m3%200a1.5%201.5%200%200%200-3%200m3%200h6m-9%200H3.375a1.125%201.125%200%200%201-1.125-1.125V14.25m17.25%204.5a1.5%201.5%200%200%201-3%200m3%200a1.5%201.5%200%200%200-3%200m3%200h1.125c.621%200%201.129-.504%201.09-1.124a17.902%2017.902%200%200%200-3.213-9.193%202.056%202.056%200%200%200-1.58-.86H14.25M16.5%2018.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554%2048.554%200%200%200-10.026%200%201.106%201.106%200%200%200-.987%201.106v7.635m12-6.677v6.677m0%204.5v-4.5m0%200h-12'/%3E%3C/svg%3E") !important;
}

.dx-icon-custom-cancel::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2024%2024'%20stroke-width='1.5'%20stroke='currentColor'%3E%3Cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20d='m20.25%207.5-.625%2010.632a2.25%202.25%200%200%201-2.247%202.118H6.622a2.25%202.25%200%200%201-2.247-2.118L3.75%207.5m6%204.125%202.25%202.25m0%200%202.25%202.25M12%2013.875l2.25-2.25M12%2013.875l-2.25%202.25M3.375%207.5h17.25c.621%200%201.125-.504%201.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621%200-1.125.504-1.125%201.125v1.5c0%20.621.504%201.125%201.125%201.125Z'/%3E%3C/svg%3E") !important;
}

.dx-icon-custom-check::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2024%2024'%20stroke-width='1.5'%20stroke='currentColor'%3E%3Cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20d='M10.125%202.25h-4.5c-.621%200-1.125.504-1.125%201.125v17.25c0%20.621.504%201.125%201.125%201.125h12.75c.621%200%201.125-.504%201.125-1.125v-9M10.125%202.25h.375a9%209%200%200%201%209%209v.375M10.125%202.25A3.375%203.375%200%200%201%2013.5%205.625v1.5c0%20.621.504%201.125%201.125%201.125h1.5a3.375%203.375%200%200%201%203.375%203.375M9%2015l2.25%202.25L15%2012'/%3E%3C/svg%3E") !important;
}

.dx-closebutton {
  background: transparent !important;
}

.dx-swatch-agrisoft-scheme .dx-popup-title {
  background: transparent !important;
  border-bottom: none !important;
}

.dx-swatch-agrisoft-scheme .dx-texteditor.dx-editor-outlined {
  background: transparent !important;
  border-color: var(--color-gray-100) !important;
  border-radius: 2px;
  margin-block: 2px;
  box-shadow: 0px 2px 9px 0px #0000000d !important;
}

.dx-swatch-agrisoft-scheme .dx-layout-manager .dx-label-h-align.dx-flex-layout:not(.dx-field-item-label-align) {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: black;
}

.dx-swatch-agrisoft-scheme .dx-field-item-label-text {
  color: black !important;
}

.dx-swatch-agrisoft-scheme .dx-texteditor-input {
  padding-left: 20px !important;
}

.dx-swatch-agrisoft-scheme .dx-checkbox-container {
  border-radius: 2px !important;
}

.dx-swatch-agrisoft-scheme .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover:not(.dx-row-lines)>td,
.dx-swatch-agrisoft-scheme .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-lines)>td {
  border-bottom: 1px solid var(--primary-color) !important;
  border-top: 1px solid var(--primary-color) !important;
}

.dx-swatch-agrisoft-scheme .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused)>td,
.dx-swatch-agrisoft-scheme .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused)>tr>td,
.dx-swatch-agrisoft-scheme .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover>td,
.dx-swatch-agrisoft-scheme .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover>tr>td {
  background-color: var(--primary-color) !important;
}

.dx-datagrid-edit-popup .dx-popup-bottom .dx-toolbar-button:first-child .dx-button {
  background: var(--primary-color) !important;
  transition: opacity 0.3s ease-in-out;
}

.dx-datagrid-edit-popup .dx-popup-bottom .dx-toolbar-button:first-child .dx-button:hover {
  opacity: 0.8 !important;
}

.dx-swatch-agrisoft-scheme .dx-searchbox .dx-placeholder::before,
.dx-swatch-agrisoft-scheme .dx-searchbox .dx-texteditor-input,
.dx-swatch-agrisoft-scheme .dx-searchbox.dx-editor-underlined .dx-texteditor-buttons-container+.dx-texteditor-input-container .dx-texteditor-input,
.dx-swatch-agrisoft-scheme .dx-searchbox.dx-editor-underlined .dx-texteditor-input {
  padding-inline-start: 35px !important;
}

.dx-swatch-agrisoft-scheme .dx-datagrid {
  position: initial !important;
}

.dx-swatch-agrisoft-scheme .dx-loadpanel-content {
  position: fixed !important;
  /*
    width: 100vw !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    top: -269px !important;
    height: 100dvh !important;*/
  height: 100% !important;
  border: none !important;
  background: #ffffffcc !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  backdrop-filter: blur(2px);
  transform: translate(0, 0) !important
}

.dx-swatch-agrisoft-scheme .dx-loadindicator {
  width: 90px !important;
  height: 90px !important;
}

.dx-swatch-agrisoft-scheme .dx-popup-bottom .dx-button,
.dx-item.dx-toolbar-item .dx-datagrid-addrow-button {
  border-radius: 5px !important;
}

.dx-swatch-agrisoft-scheme .dx-dropdowneditor-icon::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5'/></svg>") !important;
}

.dx-swatch-agrisoft-scheme .dx-searchbox .dx-icon-search::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z'/></svg>") !important;
  width: 18px;
}


/** DARK **/
.dark .dx-datagrid-headers .dx-header-row, .dark .dx-datagrid-table{
  background-color: var(--color-gray-200) !important;
  color: var(--color-black) !important;
}

.dark .dx-swatch-agrisoft-scheme .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    border-color: var(--color-gray-800) !important;
}

.dark .dx-swatch-agrisoft-scheme .dx-texteditor.dx-editor-outlined{
  background: white !important;
}


@media screen and (max-width: 768px) {
  [class*='status-'] svg {
    display: none;
  }
}